@import 'bootstrap';

#root {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
}

.App {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.details-container {
  width: 300px;
}

.list .list-group-item:hover {
  background-color: blue;
  color: white;
  cursor: pointer;
}

.spinner-border {
  position: absolute;
  top: 5rem;
  left: 47%;
}